#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

header {
  display: flex;
  align-items: center;       
  padding: 10px 20px;
  justify-content: center;
  margin-left: 40px;
}

h2 {
  line-height: 1.1;
  margin: 0;     
  color: #2540b9c9;
  font-size: 50px;
  margin-left: 20px;
  margin-right: 10%;
}

.navigationBar {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 25px;
  color: #132882c9;
  font-weight: bold;
}

a {
  font-weight: 500;
  color: #4b83d8;
  text-decoration: inherit;
}

a:hover {
  color: #3466af;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}